.container__content{
  width: 100%;
  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__cover > img{
  border: 5px solid rgb(97, 90, 90);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__description{
  margin-top: 10px;
}
.content__description > p{
  margin-left: 20px;
  margin-top: 20px;
  color: gray;
}

.content__description > a{
  margin-left: 20px;
}
